*{
  margin: 0;
  padding: 0;
}

.letter{
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  overflow: hidden;
}

.x {
  font-family: font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
  position: absolute;
  top: -200px;
  left: -100px;
  font-size: 800px;
}
