body {
  background-color: black;
  background-size: cover;
  display:flex;
  flex-flow: row wrap;
  margin: auto;
  margin-top:70px;
  }

  *{
  margin: auto;
  padding: auto;
  color: lightblue;
  width: 1500px;


}

.dd {
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.c {
  height: 60px;
  width: 60px;
  background-color: #3c8625;
  border-radius: 50%;
  display: inline-block;
  border:none;
}

.d {
  height: 100px;
  width: 100px;
  background-color: #7FFF00;
  border-radius: 50%;
  display: inline-block;


}

.text{
  font-family: 'Yeseva One', cursive;
  font-size: 30px;
  color: white;
  margin-left:20px;
  margin-top:770px;
  position: fixed;
  z-index: 100;
}

.text2{
  font-family: 'Yeseva One', cursive;
  font-size: 30px;
  color: #7FFF00;
  margin-left:710px;
  margin-top:770px;
  position: fixed;
  z-index: 100;
}

.click{
  font-family: 'Yeseva One', cursive;
  font-size: 30px;
  color: #7FFF00;
  margin-left:710px;
  margin-top:770px;
  position: fixed;
  z-index: 100;
}

.text2:hover{
  color: red;

}
