*{
  margin: 0;
  padding: 0;
}

.letter{
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  overflow: hidden;
}

.b {
  font-family: font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
  position: absolute;
  top: -200px;
  left: -100px;
  font-size: 800px;
}

.letter2{
  position: absolute;
  top: 300px;
  left: 300px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  overflow: hidden;
}
.q {
  font-family: font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
  position: absolute;
  top: -400px;
  left: 0px;
  font-size: 800px;
}

.letter3{
  position: absolute;
  top: 0px;
  left: 600px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  overflow: hidden;
}
.k {
  font-family: font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
  position: absolute;
  top: -400px;
  left: 0px;
  font-size: 800px;
}
